<div class="body">
    <div class="form">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="registerinfo.name" id="">
        <label for="name">Date of Birth</label>
        <input type="date" [(ngModel)]="registerinfo.dob" id="">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="registerinfo.email" id="">
        <label for="name">Department</label>
        <input type="text" [(ngModel)]="registerinfo.dept" id="">
        <label for="name">Password</label>
        <input type="password" [(ngModel)]="registerinfo.password" id="">
        <button (click)="register()">Register</button>
    </div>
    
</div>