*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    background-color: rgb(203, 203, 203);
    height: 98vh;
}
.form{
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: bold;
    border: 2px solid black;
    padding: 30px;
    line-height: 2;
}
input{
    height: 50px;
    padding: 5px 15px ;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
}

button{
    height: 50px;
    margin: 20px;
    background-color: rgb(125, 238, 255);
    font-size: 1.6rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}